services:
  fixrd-mongodb:
    image: mongo:7.0.25
    container_name: fixrd-mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 123456

volumes:
  mongo-data:
