/* ------------------------ricky--------------------------- */

@font-face {
  font-family: "MoonGet";
  src: url("../assets/fonts/moon_get-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "moon_get-Heavy2";
  src: url("./assets/fonts/moon_get-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: 'OkineSans';
  src: url('./assets/fonts/MADEOkineSansPERSONALUSE-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OkineSansBold';
  src: url('./assets/fonts/MADEOkineSansPERSONALUSE-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MoonHeavy';
  src: url('./assets/fonts/moon_get-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}