.layout-container {
  display: flex;
  height: 100vh;
  background: #001522;
  color: white;
}

.sidebar {
  width: 240px;
  background: #002233;
  padding: 30px 20px;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 28px;
  margin-bottom: 40px;
  color: #2ec4b6;
}

.menu li {
  list-style: none;
  margin: 20px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.menu li:hover {
  color: #80ed99;
}

.content {
  flex: 1;
  padding: 40px;
}
