.requests {
  margin-top: 60px;
  padding: 20px;
}

.requests-title {
  font-size: 30px;
  color: #2ec4b6;
  margin-bottom: 20px;
  font-weight: bold;
}

.requests-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.count {
  background: #2ec4b6;
  padding: 5px 12px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
}

.request-card {
  background: #002233;
  margin: 18px 0;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

.client-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.client-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.location {
  opacity: 0.8;
}

.description {
  margin: 15px 0;
  opacity: 0.9;
}

.request-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.time {
  opacity: 0.85;
}

.tag {
  padding: 5px 12px;
  border-radius: 12px;
  color: black;
  font-weight: bold;
}

.tag.urgent {
  background: #ffcd5b;
}

.tag.standard {
  background: #b1e3ff;
}

.request-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accept {
  background: #2ec4b6;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.reject {
  background: #253745;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
}

.price {
  color: #2ec4b6;
  font-weight: bold;
}
