body {
  background: url("./assets/images/tecnico.png") no-repeat;
  background-size: cover;
  background-position: center;
<<<<<<< HEAD
  
}
 */

/* ===================== HOW IT WORKS ===================== */
=======
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}
>>>>>>> 90ed0808ecd56a6030966fa08235433af376a2d7
