.Formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/images/Gemini_Generated_Image_syy89nsyy89nsyy8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "moon_get-Heavy", sans-serif;
  padding: 40px 20px;
}

.cliente {
  position: relative;
  width: 460px;
  height: 600px;
  background: transparent;
  border: 1px solid rgba(239, 238, 238, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  margin: auto;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
  box-shadow: #08f95c 0px 1px 5px;
}

 .text-red-501 {
  color: #d90000;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 10px;

 
} 


.icono-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 2em;
  background: linear-gradient(to bottom, #1b9aaa, #2ec4b6, #80ed99);
  border-radius: 5px;
  padding: 10px;
  width: 50px;
  height: 50px;
  margin-top: 25px;
}
.icono-usuario:hover {
  box-shadow: #00fb3b 0px 2px 15px;
  transform: rotate(360deg);
  transition: 0.8s;
}
.icono-usuario1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 2em;
  background: linear-gradient(to bottom, #1b9aaa, #2ec4b6, #80ed99);
  border-radius: 5px;
  padding: 10px;
  width: 50px;
  height: 50px;
  margin-top: 12px;
}
.icono-usuario1:hover {
  box-shadow: #00fb3b 0px 2px 15px;
  transform: rotate(360deg);
  transition: 0.8s;
}

.cliente.activo {
  height: 700px;
}

.cliente .box-login {
  width: 100%;
  padding: 40px;
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.cliente.activo .box-login {
  transition: none;
  transform: translateX(-600px);
}

.cliente .box-register {
  position: absolute;
  transform: translateX(600px);
  transition: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
}

.cliente.activo .box-register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.link-cliente-login a {
  color: #1b9aaa;
  font-weight: 600;
  text-decoration: none;
}

.link-cliente-login a:hover {
  text-decoration: underline;
}

.link-tecnico a {
  color: #1b9aaa;
  font-weight: 600;
  text-decoration: none;
}

.link-tecnico a:hover {
  text-decoration: underline;
}

form h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 12px;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  font-size: 16px;
  color: aliceblue;
  padding: 20px 45px 20px 20px;
}

.fila-doble {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.fila-doble .input-box {
  width: 100%;
  margin: 15px 0;
}
.slogan {
  text-align: center;
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 15px;
  color: #80ed99;
}
.input-box select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 0 45px 0 20px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-box select option {
  background: #1a1a1a;
  color: #ffffff;
}
.input-box select option .opcion {
  opacity: 0.5;
}

.input-box select option:first-child {
  color: #999;
}

.input-box input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
}

.icon1 {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
}

form .recordad-contrasena {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.recordad-contrasena label input {
  margin-right: 4px;
  accent-color: #ffffff;
}

.recordad-contrasena a {
  color: #08f95c;
  text-decoration: none;
}

.recordad-contrasena a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
}

.btn {
  background: linear-gradient(to right, #1b9aaa, #2ec4b6, #80ed99);
}

.btn:hover {
  box-shadow: #00fb3b 0px 2px 15px;
  transform: scale(1.2);
  transition: 0.8s;
}

form .registro-link {
  margin: 20px 0 15px;
  font-size: 14.5px;
  text-align: center;
}

.registro-link p a {
  color: #08f95c;
  text-decoration: none;
  font-weight: 600;
}

.registro-link p a:hover {
  text-decoration: underline;
}
