.formulario-registro{
 display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/images/Gemini_Generated_Image_syy89nsyy89nsyy8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "moon_get-Heavy", sans-serif;
  padding: 40px 20px;

}



.tecnico {
  position: relative;
  width: 480px;
  height: 600px;
  background: transparent;
  border: 1px solid rgba(239, 238, 238, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: height 0.2s ease;
  box-shadow: #00e1ff 0px 1px 5px;
}

.text-red-500 {
  color: #d90000;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 3px;

}

.icono-tecnico, .icono-tecnico1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 2em;
  background: linear-gradient(to bottom, #1b9aaa, #2ec4b6, #80ed99);
  border-radius: 5px;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.icono-tecnico:hover, .icono-tecnico1:hover {
  box-shadow: #00fb3b 0px 2px 15px;
  transform: rotate(-360deg);
  transition: 0.8s;
}

.tecnico.activo {
  height: 950px;
}

.tecnico .box-login-tecnico {
  width: 100%;
  padding: 40px;
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.tecnico.activo .box-login-tecnico {
  transition: none;
  transform: translateX(-700px);
}

.tecnico .box-register {
  position: absolute;
  transform: translateX(700px);
  transition: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
}

.tecnico.activo .box-register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}



.link-cliente a {
  color: #1b9aaa;
  font-weight: 600;
  text-decoration: none;
}

.link-cliente a:hover {
  text-decoration: underline;
}



form h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 12px;
}

form .input-tecnico, .input-tecnico-number {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-tecnico input, .input-tecnico-number input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  font-size: 16px;
  color: aliceblue;
  padding: 20px 45px 20px 20px;
  outline: none;
}

.input-tecnico select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 0 45px 0 20px;
  cursor: pointer;
  appearance: none;
}

.input-tecnico select option {
  background: #1a1a1a;
  color: #ffffff;
}

.input-tecnico select option:first-child {
  color: #999;
}

.input-tecnico input::placeholder, .input-tecnico-number input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.input-tecnico .icon, .input-tecnico-number .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
}

.fila-doble {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.fila-doble .input-tecnico {
  width: 100%;
  margin: 15px 0;
}

.slogan {
  text-align: center;
  font-size: 12px;
 
  margin-bottom: 20px;
  color: #80ed99;
  padding: 10px;
}

form .recordad-contrasena {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.recordad-contrasena label input {
  margin-right: 4px;
  accent-color: #ffffff;
}

.recordad-contrasena a {
  color: #08f95c;
  text-decoration: none;
}

.recordad-contrasena a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
}

.btn {
  background: linear-gradient(to right, #1b9aaa, #2ec4b6, #80ed99);
}

.btn:hover {
  box-shadow: #00fb3b 0px 2px 15px;
  transform: scale(1.2);
  transition: 0.8s;
}

form .registro-link-tecnico {
  margin: 20px 0 15px;
  font-size: 14.5px;
  text-align: center;
}

.registro-link-tecnico p a {
  color: #08f95c;
  text-decoration: none;
  font-weight: 600;
}

.registro-link-tecnico p a:hover {
  text-decoration: underline;
}

.input-tecnico-number input::-webkit-inner-spin-button,
.input-tecnico-number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.label-precio {
  display: block;
  font-size: 10px;
  letter-spacing: 2px;
  color: #08f95c;
  margin-top: 15px;
  margin-bottom: 5px;
  
}

.fila-precio {
  display: flex;
  width: 100%;
  gap: 10px;
}

.input-precio {
  width: 50%;
  height: 50px;
  position: relative;
}

.input-precio input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  font-size: 16px;
  color: aliceblue;
  padding: 0 20px;
  outline: none;
}

.input-precio input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.input-precio input::-webkit-inner-spin-button,
.input-precio input::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  margin: 0;
}